@@ .. @@
                            <div class="btn-group btn-group-sm">
                                 <button type="button" class="btn btn-outline-primary" 
-                                        onclick="editProduct({{ product[0] }})" title="Редактировать">
+                                        onclick="window.location.href='{{ url_for('edit_product', product_id=product[0]) }}'" title="Редактировать">
                                     <i class="fas fa-edit"></i>
                                 </button>
                                 <button type="button" class="btn btn-outline-info" 
@@ .. @@
 {% block scripts %}
 <script>
-function editProduct(productId) {
-    const newName = prompt('Введите новое название товара:');
-    if (newName) {
-        alert(`Товар переименован в: ${newName}`);
-    }
-}
-
 function viewProductStats(productId) {
-    alert(`Статистика товара ID: ${productId}\n\nПросмотры: 150\nПродажи: 25\nКонверсия: 16.7%`);
+    alert(`Статистика товара ID: ${productId}\n\nФункция будет добавлена в следующей версии`);
 }
 </script>
 {% endblock %}